<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfhao.demo.shiro.user.mapper.AuthMapper">
    <select id="queryAuthByUserId" resultType="com.dfhao.demo.shiro.user.entry.Auth">
        select id, user_id as userId, auth_info as authInfo from auth_t where user_id = #{userId};
    </select>
</mapper>